<div class="mainheader">
  <div class="logo">
    <i class="fa fa-bars" aria-hidden="true"></i>
    <img
      width="50px"
      height="50px"
      src="assets/logo.png"
      alt="
      "
    />
    <p>Conatcts</p>
  </div>
  <div class="searchbar">
    <div class="searchsection">
      <div class="search"><i class="fa fa-search" aria-hidden="true"></i></div>
      <input
        placeholder="Search"
        type="text"
        [(ngModel)]="firstService.headerSearchString"
      />
      <div class="cross"><i class="fa fa-times" aria-hidden="true"></i></div>
    </div>
  </div>
  <div class="profile"></div>
</div>
