table {
  width: 100%;
  tr{
    margin-top: 5px;
  }
}
table, th,
.fordifferbwtcheckbox{
  width: 100%;
  td {

    height: 50px;
    background-color: rgb(240, 240, 240);
  border: 1px solid;
  margin-bottom: 22px;cursor: pointer;

  }
}
