<div class="sidebarSection">
  <div class="topplussection">
    <div routerLink="create" class="plus">
      <img width="50px" src="assets/plus.jpeg" alt="" />
      <a routerLink="create">Create Contacts</a>
    </div>
  </div>
  <div class="bottomsidebarseciton">
    <div class="bottomfields">
      <div class="fields fieldone">
        <i class="fa fa-user" aria-hidden="true"></i>
        <span>Contacts</span>
        <span class="count"></span>
      </div>
      <div class="fields">
        <i class="fa fa-clock" aria-hidden="true"></i>
        <span>frequently contacted</span>
        <span class="count"></span>
      </div>
      <div class="fields">
        <i class="fa fa-star" aria-hidden="true"></i>
        <span>Merge and Fix</span>
        <span class="count"></span>
      </div>
      <hr />
      <div class="fields">
        <i class="fa fa-tag" aria-hidden="true"></i>
        <span>Lables</span>
        <span class="count"></span>
      </div>
      <div class="fields">
        <i class="fa fa-tag" aria-hidden="true"></i>
        <span>any field</span>
        <span class="count"></span>
      </div>
      <div class="fields">
        <i class="fa fa-tag" aria-hidden="true"></i>
        <span>Contacts</span>
        <span class="count"></span>
      </div>
      <div class="fields">
        <i class="fa fa-tag" aria-hidden="true"></i>
        <span>election</span>
        <span class="count"></span>
      </div>

      <div class="fields">
        <i class="fa fa-plus" aria-hidden="true"></i>
        <span>Create lable</span>
        <span class="count"></span>
      </div>
      <hr />
      <div class="fields">
        <i class="fa fa-download" aria-hidden="true"></i>
        <span>Import</span>
        <span class="count"></span>
      </div>
      <div class="fields">
        <i class="fa fa-upload" aria-hidden="true"></i>
        <span>Export</span>
        <span class="count"></span>
      </div>
      <div class="fields">
        <i class="fa fa-print" aria-hidden="true"></i>
        <span>Print</span>
        <span class="count"></span>
      </div>
      <hr />
      <div class="fields">
        <i class="fa fa-cloud-download" aria-hidden="true"></i>
        <span>Other Contacts</span>
        <span class="count"></span>
      </div>
      <div class="fields">
        <i class="fa fa-trash" aria-hidden="true"></i>
        <span>Bin</span>
        <span class="count"></span>
      </div>
    </div>
  </div>
</div>
